{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- .Store.Set "hasObscure" true -}}
{{- .Store.Set "hasBouncer" true -}}
{{- end -}}
{{- define "main" -}}
<!-- Hero with Map -->
{{ partial "hero.html" . }}

<!-- Intro -->
{{/* 
  <section class="intro">
    <div class="content-grid">
      <p>{{ .Params.intro }}</p>
    </div>
  </section>
   */}}
<div class="[ layout--sidebar--right ][ grid gap--2 layout--padding--bottom ]">
  <div>
    <p>{{- .Content -}}</p>

    <form id="contact" class="[ grid gap--1 ]" name="contact" action="/thank-you" method="POST" data-netlify="true" netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-validate>
      <input type="hidden" name="form-name" value="contact" />

      <div class="hidden">
        <label>
          Don't fill this out if you're human: <input name="bot-field" />
        </label>
      </div>
      
      <div class="[ form__field ][ grid row-gap--0.5 ]">
        <label class="[ form__label ][ font--500 font--600 ]" for="name">Name <abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr></label>
        <input class="[ form__input ][ p--0.5 ]" name="name" id="name" type="text" placeholder="Your Name" required minlength="2" maxlength="50"/>
      </div>
      <div class="[ form__field ][ grid row-gap--0.5 ]">
        <label class="[ form__label ][ font--500 font--600 ]" for="email">Email <abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr></label>
        <input class="[ form__input ][ p--0.5 ]" name="email" id="email" type="email" placeholder="your@email.com" required/>
      </div>
      <div class="[ form__field ][ grid row-gap--0.5 ]">
        <label class="[ form__label ][ font--500 font--600 ]" for="message">Message <abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr></label>
        <textarea class="[ form__message ][ p--0.5 ]" name="message" id="message" placeholder="Tell us how we can help..." required maxlength="3000"></textarea>
      </div>
      <div data-netlify-recaptcha="true"></div>
      <div class="[ flex end ]">
        <button type="submit" class="[ btn btn--lg aac--black ]">Send</button>
      </div>
    </form>
  </div>
  <aside class="[ sidebar ]">
    <address class="[ pb--2 ]">
      <span>Clear Choice</span>
      <br>
      <span>Shirley Street</span>
      <br>
      <span>Nassau, <abbr title="New Providence" aria-label="New Providence">NP</abbr></span>
      <br>
      <span>Bahamas</span>
    </address>
    <div class="[ grid row-gap--0.5 ]">
      <template obscure="obscure" data-p1="info" data-p2="clear-choiceglass.com">
        <span><a href="+mailto:%1%@2%">%1@%2</a></span>
      </template>
      <template obscure="obscure" data-p1="+1" data-p2="242" data-p3="813" data-p4="7981">
        <span><a href="tel:%1%2%3%4">(%2) %3-%4</a></span>
      </template>
    </div>
  </aside>
</div>
{{- end -}}