@use 'functions' as *
@use 'mixins' as *

=unstyled-link($link-color, $hover-bg: null)
  font-weight: 500
  color: $link-color
  padding-bottom: em(2)
  border-bottom: em(2) solid $link-color
  +transition(background-color)

  +hover
    background-color: $hover-bg
