@use 'functions' as *
@use 'mixins' as *

=unstyled-link
  font-weight: 500
  color: color('cc--teal')
  padding-bottom: em(2)
  border-bottom: em(2) solid color('cc-teal')
  +transition(background-color)

  +hover
    background-color: color('aac-gold-5')
