{{- define "variables" -}}
{{ .Store.Set "hasTwic" true }}
{{- end -}}
{{ define "main" }}
  <!-- Hero Section -->
  {{ partial "hero.html" . }}
  <!-- Intro Text Block -->
  
  <section>
    <!-- Features Section -->
    {{ with .Params.features }}
    <ul class="[ features ][ grid center md:col--3 gap--2 ]">
      {{ range $index, $feature := . }}
        <div class="[ text--center ]">
          <h3>{{ $feature.title }}</h3>
          <p>{{ $feature.description }}</p>
        </div>
      </li>
      {{ end }}
    </ul>
    {{ end }}
    
  </section>

  {{ with .Params.comfort_section }}
  <section class="[ full-width content-grid bg--grey layout--padding ]">
    <div class="[ grid middle md:col--2 gap--3 ]">
      <div>
        <h2>{{ .title }}</h2>
        <p>{{ .text }}</p>
  
        <ul class="[ benefits ][ grid gap--1 ]">
          {{ range .benefits }}
          <li class="[ benefit ][ grid col-gap--0.5 ]">
            {{ with $.Resources.GetMatch .icon }}
              <span class="[ icon ]">
                {{ .Content | safeHTML }}
              </span>
            {{ else }}
              <span class="[ icon ]">⚠️ Missing Icon</span>
            {{ end }}
            <div>
              <strong>{{ .title }}</strong>
              <p class="[ pb--0 ]">{{ .description }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      <figure class="[ ratio--1:1 ]">
        {{ with .image }}
        {{ partial "image.html" (dict 
          "Destination" .
          "PlainText" "Storefront" 
          "class" "ratio--1:1 radius--5"
          "Page" $
        ) }}
        {{ end }}
      </figure>

    </div>
  </section>
  {{ end }}
  

  <section class="[ grid layout--spacing ]">
    <div>
      <h2>Windows</h2>
      <p class="[ font--4 ch--45 ]">Our hurricane‑rated windows combine strength and style, offering designs that maximize safety, airflow, and natural light while standing up to The Bahamas’ toughest storms.</p>
    </div>
    <ul class="[ grid md:col--4 gap--3 ]">
      {{ range .Params.window_styles }}
      <li class="[ card ][ grid center gap--1 py--2 px--1 text--center ]">
        <div class="icon">
          {{ with $.Resources.GetMatch .svg }}
            {{ .Content | safeHTML }}
          {{ end }}
        </div>
        <div>
          <h3>{{ .name }}</h3>
          <p>{{ .description }}</p>
        </div>
      </li>
    {{ end }}
    </ul>
  </section>

  <section class="[ grid layout--spacing ]">

    {{ with .Params.doors_section }}
    <div>
      <h2>Doors</h2>
      <p class="[ font--4 ch--45 ]">{{ .summary }}</p>
    </div>
    <ul class="[ grid md:col--4 gap--3 ]">
      {{ range .items }}
      <li class="[ card ][ grid center gap--1 py--2 px--1 text--center ]">
        <div class="icon">
          {{ with $.Resources.GetMatch .svg }}
            {{ .Content | safeHTML }}
          {{ end }}
        </div>
        <div>
          <h3>{{ .name }}</h3>
          <p>{{ .description }}</p>
        </div>
      </li>
      {{ end }}
    </ul>
  {{ end }}

  </section>

  {{ partial "cta.html" . }}
{{ end }}