{{ define "main" }}
  <!-- Hero Section -->
  {{ partial "hero.html" . }}
  <!-- Intro Text Block -->
  {{ with .Params.intro }}
  <section class="intro">
    <div class="[ content-grid ]">
      <p>{{ . }}</p>
    </div>
  </section>
  {{ end }}

  <!-- Features Section -->
  {{ with .Params.features }}
  <section class="[ content-grid ]">
    <ul class="[ features ][ grid layout--spacing ]">
      {{ range $index, $feature := . }}
      <li class="[ feature ][ grid md:col--2 col-gap--4 row-gap--2 ]{{ if modBool $index 2 }}alt{{ end }}">
        {{ partial "image.html" (dict 
          "Destination" $feature.image
          "PlainText" $feature.title
          "class" "ratio--1:1 radius--5"
          "Page" .
        ) }}
        <div class="feature-text">
          <h3>{{ $feature.title }}</h3>
          <p>{{ $feature.description }}</p>
        </div>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

{{ end }}