{{- define "variables" -}}
{{- .Store.Set "hasTwic" true -}}
{{- end -}}
{{- define "main" -}}
{{- partial "partials/hero.html" . -}}
<div class="[ full-width content-grid layout--spacing layout--padding--bottom ]">
  <ul class="[ loop loop--projects ][ grid md:col--2 lg:col--3 gap--2 ]">
    {{ $twic := .Site.Params.twic }}
    {{ range $i, $p := .Pages }}
      {{ partial "card.html" (dict
        "page"    $p
        "title"   $p.Title
        "href"    $p.RelPermalink
        "image"   $p.Params.feature.image
        "alt"     (printf "Work from %s project" $p.Title)
        "id"      (printf "image-%d" (add $i 1))
      ) }}
    {{ end }}
    
  </ul>
</div>
{{- end -}}