{{- if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "{{ .Permalink }}",
    "name": "{{ .Site.Title }}",
    "description": "{{ .Description }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Permalink }}"
      // {{- with .Site.Params.social }}
      // ,"sameAs": [
      //   {{- with .facebook }}"https://www.facebook.com/{{ . }}",{{ end }}
      //   {{- with .instagram }}"https://www.instagram.com/{{ . }}",{{ end }}
      //   {{- with .linkedin }}"https://www.linkedin.com/in/{{ . }}",{{ end }}
      //   {{- with .github }}"https://github.com/{{ . }}",{{ end }}
      //   {{- with .x }}"https://x.com/{{ . }}"{{ end }}
      // ]
      // {{- end }}
    }
  }
</script>
{{- end -}}