@use '../abstracts' as *

.hero
  // color: color('white')
  // background-color: color('black-5')
  +clamp(min-height, 450, 550)

  > .wrapper
    min-height: inherit
    height: inherit

  //   &--subpage

  &--home
    min-height: rem(500)
    height: calc( 90svh - var(--height))

  &__content
    // background-color: color('white')
    position: relative
    z-index: 2

    &::after
      content: ''
      width: 200vw
      height: calc(100% + 10em)
      background-color: color('white')
      opacity: 0.8
      border-radius: em(5)
      position: absolute
      top: -5em
      right: -5em
      z-index: -1

.card
  border: em(2) solid color('cc-teal')
  border-radius: em(12)

.cta
  +breakpoint(tablet)
    grid-template-columns: repeat(2, max-content) 1fr

.video-bg
  min-width: 100%
  min-height: 100%
  height: 100%
  max-height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: -1
  object-fit: cover


div[data-section]::after
  content: attr(data-section)

.bg
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-blend-mode: soft-light

  // background-attachment: fixed
