@use '../abstracts' as *


.screen-reader-text
  
  position: absolute

  //Positions the link absolutely on the page, allowing it to be placed anywhere.
  left: -9999px

  //Moves the link far off-screen to the left, making it invisible to sighted users.
  z-index: 999

  //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
  padding: 1em
  background-color: black
  color: white
  opacity: 0

  //Sets the link's opacity to 0, making it fully transparent and invisible.

  &:focus
    left: 50%

    // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    transform: translateX(-50%)

    //This centres the link horizontally by moving it back to the left by 50% of its own width.
    opacity: 1

    //The link's opacity is set to 1, making it fully visible.

+radius(5)

.local-advantage
  +breakpoint(tablet)
    grid-template-columns: 2fr 1.2fr 1.2fr
    align-items: start

    // > * > *
  //   outline: $bg

  > div:first-child
    max-width: 32ch

.benefit, .advantage
  grid-template-columns: 2em 1fr

.icon
  width: 2em

  > svg
    width: 100%
    height: auto
    fill: color('cc-teal')


  &--4
    width: 4em
    
.service
  color: color('white')
  background-color: color('cc-teal')

  > a
    display: block
    height: 100%
    position: relative
    color: color('white')

    > h3, > span
      color: currentcolor
      position: absolute
      bottom: 1em
      left: 1em

    > h3
      width: calc(100% - 2em)
      overflow: hidden
      // outline: $bg

      > span
        display: block
        transform: translateY(3lh)
        +transition(transform)

    > svg
      position: absolute
      top: 1em
      right: 1em

    +hover

      > h3

        > span
          transform: translateX(0)
  // &__img
  //   box-shadow: 0 em(1) em(3) rgba(0, 0, 0, 0.12), 0 em(4) em(6) rgba(0, 0, 0, 0.08)

// .loop
//   display: grid
//   grid-template-rows: 1fr max-content
  
//   &__item
//     display: grid
//     grid-template-rows: subgrid
//     grid-row: span 2

//   &__link
//     grid-template-rows: subgrid
//     grid-row: span 2


// .intro
//   text-align: center
//   max-width: 60ch /* keeps text line-length comfortable */
//   margin: 2rem auto /* space above/below */
//   font-size: 1.125rem /* slightly larger for emphasis */
//   line-height: 1.6
//   color: #374151 /* neutral gray for readability */


// .intro p
//   margin: 0 /* remove default paragraph margin for consistency */


// @media (min-width: 768px)
//   .intro
//     font-size: 1.25rem

.bg--grey
  background-color: #E9F6F8 

+wide(750)
+wide(800)

.text--center
  text-align: center

+font(500)

+ratio(1, 1)
+ratio(5, 7)
+ratio(4, 5, 'md')
+ratio(4, 5, 'lg')

+ratio(16, 9)
+ratio(16, 9, 'lg')

li::marker
   color: color('aac-gold')