<footer class="[ footer ][ full-width content-grid pt--5 pb--2 ]">
  <div class="[ wrapper wrapper--footer ][ grid gap--4 pb--2 ]">

    {{/* What unique class name here? */}}
    <div class="[ imprimatur ][ grid gap--2 ]">
      <div class="[ brand ][ grid gap--1 ]">
        <a class="[ logo ][ flex middle mb--1 ]" href="/" aria-label="Homepage">
          {{- readFile "static/icons/logo.svg" | safeHTML }}
        </a>

        <ul class="[ social ][ flex center middle gap--1 ]">
          <li class="[ social__item ]">
            <a class="[ social__link ]" href="https://www.facebook.com/profile.php?id=61575457025109" target="_blank" rel="noopener" data-prefetch>
              {{- readFile "static/icons/facebook.svg" | safeHTML }}
            </a>
          </li>
          <li class="[ social__item ]">
            <a class="[ social__link ]" href="https://www.bahamaslocal.com/listing_email/22727/Clear_Choice_Glass.html" target="_blank" rel="noopener" data-prefetch>
              {{- readFile "static/icons/bahamas-local.svg" | safeHTML }}
            </a>
          </li>
        </ul>
      </div>

      <div class="[ summary ][ ch--35 ]">
        <p class="[ tagline ][ font--700 pb--0 ]">Lasting Protection. Lasting style.</p>
        <p>
          <small>Clear Choice Glass is your trusted partner for hurricane-rated windows, doors, and custom glass solutions across The Bahamas. With locally manufactured PVC frames and expert service, we provide secure, stylish, and lasting protection for homes, rentals, and businesses.</small>
        </p>
      </div>
    </div>

    <address class="[ address ][ flex col-gap--0.25 ]">
      <span>Clear Choice Glass</span>
      <span>Shirley Street</span>
      <span>Bahamas</span>
    </address>
    
    <nav class="[ navigation--footer ]">
      <ul class="[ menu--footer ][ grid lg:col--2 col-gap--4 row-gap--1 ]">
        {{- $context := .context -}}
        {{- $currentPage := .currentPage -}}
        {{with $context}}
          {{ range .Site.Menus.main }}
        <li class="[ menu--footer__item ][ font--500 ]">
          <a class="[ menu--footer__link link--footer ]{{ if eq $.currentPage.RelPermalink .URL }}[ current ]{{ end }}" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>{{ .Name }}</a>
        </li>
        {{ end }}
        {{end}}
      </ul>
    </nav>
  </div>
  <div class="[ copy ][ gap--2 ]">
    <nav class="[ lg:o--2 ]">
      <ul>
        <li>
          <small><a class="[ policy ]" href="/privacy-policy" data-prefetch="">Privacy Policy</a></small>
        </li>
      </ul>
    </nav>
    <div class="[ lg:o--1 ]">
      <div>
        <small>© {{ now.Year }} {{ .context.Site.Title }}.</small> <small>All rights reserved.</small>
      </div>
      <small>Website by <a class="[ agency ]" href="https://getclever.marketing" target="_blank" rel="noopener" data-prefetch>Clever Marketing, Ltd.</a></small>
    </div>
  </div>
</footer>