{{- $twic := .Site.Params.twic -}}
{{- if .IsHome -}}
<header class="[ hero hero--home ][ full-width content-grid bg ]"{{ with .Resources.GetMatch (.Params.hero) }} data-twic-background="url(image:{{ .RelPermalink }})"{{ end }}>
  {{ with .Resources.GetMatch (.Params.hero) }}
  <style>.hero {background-image: url('https://{{- $twic -}}.twic.pics/{{ .RelPermalink }}?twic=v1/output=preview');}</style>
  {{ end }}
  <h1 class="[ hidden ]">{{- .Site.Params.tagline -}}</h1>
  <div class="[ wrapper ][ flex middle py--5 ]">
    <div class="[ hero__content ]">
      <h2 class="[ font--1 ]">Looking for new windows? <br> We can help!</h2>
      <p class="[ ch--45 ]">Upgrade your home or business with hurricane-rated windows and doors that combine security, style, and long-lasting value — all made right here in The Bahamas.</p>
      <div class="[ cta ][ grid gap--1 ]">
        <a class="[ btn btn--lg cc--cta ]" href="/contact-us/" data-prefetch>Request a Quote</a>
      </div>
    </div>
  </div>
</header>
{{- else -}}
<div class="[ full-width ]">
  <header class="[ hero ][ full-width content-grid bg ]"{{ with .Resources.GetMatch (.Params.hero) }} data-twic-background="url(image:{{ .RelPermalink }})"{{ end }}>
    {{ with .Resources.GetMatch (.Params.hero) }}
    <style>.hero {background-image: url('https://{{- $twic -}}.twic.pics/{{ .RelPermalink }}?twic=v1/output=preview');}</style>
    {{ end }}
    <div class="[ wrapper wrapper--subpage ][ flex middle ]">
      <div class="[ hero__content ]">
        <div >
          <h1>{{ .Title }}</h1>
          <p class="[ subtitle ][ ch--45 ]">{{ .Params.subtitle }}</p>
        </div>
      </div>
    </div>
  </header>
  {{ partial "breadcrumbs.html" . }}
  
</div>
{{- end -}}