@use '../abstracts' as *

// .products
//   grid-template-rows: max-content 1fr max-content

// .product

//   > figure
//     grid-row: 1 / 2
  
//   > h3
//     grid-row: 2 /3 

//   > p
//     grid-row: 3 / 4

//   @supports (grid-template-rows: subgrid)
//     grid-template-rows: subgrid
//     grid-row: span 3
    
.snapshot
  background-color: color('cc-teal')

  &__text
    grid-area: snapshot
    background-color: color('white')

.snapshot > .wrapper
    +clamp(min-height, 500, 600)
    grid-template-columns: 1fr [snapshot-start] minmax(0, max-content) [snapshot-end]
    grid-template-rows: 1fr [snapshot-start] max-content [snapshot-end] 1fr



.visually-hidden 
  position: absolute
  clip: rect(0 0 0 0)
  visibility: hidden
  opacity: 0

.hidden
  width: 0.1em
  height: 0.1em
  clip: rect(0 0 0 0)
  // visibility: hidden
  overflow: hidden
  position: absolute