@use 'abstracts' as *

.projects

  +breakpoint(tablet)
    grid-template-columns: [section-start first-start] 1fr [ first-end section-end second-start button-start] 1fr [button-end second-end]
    grid-template-rows: [section-start second-start] max-content [section-end first-start] 1fr [second-end button-start] max-content [button-end first-end]

    > h2
      grid-area: section

    > .feature

      &--1
        grid-area: first

      &--2
        grid-area: second

    > div
      grid-area: button


// .feature


//   > .scale > picture > img
//     scale: 1.2

// +device(desktop)
//   .previews
//     grid-template-columns: [ one-start two-start] 1fr [two-end one-end three-start four-start] 1fr [four-end three-end]
//     grid-template-rows: [one-start three-start] 1fr [three-end four-start] 1fr [one-end two-start] 1fr [two-end four-end]

//   .preview

//     &--1
//       grid-area: one

//     &--2
//       grid-area: two
    
//     &--3
//       grid-area: three

//     &--4
//       grid-area: four


// .services > li

//   &:nth-of-type(odd)

//     .service

//       &__content
//         order: 2

//       &__img
//         order: 1

.write-up
  min-width: 0
  
  +device(desktop)
    grid-template-columns: 1fr minmax(min-content, em(250) )
  
  h2
    font-size: var(--step-2)

.tag

  &__link
    color: color('black')
    background-color: color('grey-light')
    border-radius: em(5)
    +transition(background-color)

    &:hover
      background-color: color('aac-gold')

.scale
  > picture 
    overflow: hidden

    > img
      scale: 1
      +transition(scale)

      +hover
        scale: 1.2
